$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

a {
  color: $teal;
}

body {
  text-align: center;
  background-color: $off-white;
}

button {
  border-color: $purple;
  border-radius: 10px;
  color: $purple;
  display: block;
  font-size: 16px;
  margin: 10px auto;
}

nav button {
  background-color: $pink;
  color: $purple;
  float: right;
  margin: 10px;
  border: thick solid $teal;
}

footer {
  background-color: $purple;
  bottom: 0;
  color: $pink;
  height: 30px;
  left: 0;
  line-height: 30px;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

input {
  display: block;
  margin: 5px auto;
}

nav {
  background-color: $purple;
  color: $teal;
  margin: 0;
}

.auth-alert-main,
.auth-alert-modal {
  color: $purple;
  font-weight: bold;
  margin-bottom: 0;
}

.container-fluid {
  padding: 0;
}

.game-cell {
  border: thick solid $purple;
  color: $purple;
  font-size: 50px;
  height: 30vw;
  line-height: 30vw;
  text-align: center;
  vertical-align: middle;
  width: 30vw;
}

.game-row:first-of-type > .game-cell {
  border-top: 0;
}

.game-row:last-of-type > .game-cell {
  border-bottom: 0;
}

.game-row > .game-cell:first-of-type {
  border-left: 0;
}

.game-row > .game-cell:last-of-type {
  border-right: 0;
}

.hidden {
  display: none;
}

.navbar {
  margin-bottom: 0;
}

.player {
  border: thin solid $purple;
  background-color: $off-white;
  border-radius: 20px;
  color: $purple;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin: 10px;
  padding: 5px 15px;
  text-align: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.player.active {
  background-color: $pink;
  border: solid $purple;
  font-weight: bold;
}

.winning-cell {
  background-color: $pink;
}

#game-board {
  margin: 15px auto;
  width: 90vw;
}

#message {
  color: $purple;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

#player-turns > div {
  text-align: center;
}

#rematch-button {
  background-color: $pink;
  border: thick solid $purple;
  font-weight: bold;
}

@media screen and (min-width: 400px) and (max-width: 759px) {
  .game-cell {
    font-size: 75px;
    height: 110px;
    line-height: 110px;
    width: 110px;
  }

  #game-board {
    width: 330px;
  }
}

@media screen and (min-width: 760px) {
  .game-cell {
    font-size: 100px;
    height: 150px;
    line-height: 150px;
    width: 150px;
  }

  main {
    min-height: 500px;
  }

  .game-row {
    margin: auto;
    width: 450px;
  }

  #game-board {
    width: 60vw;
  }

  #stats-n-stuff {
    background-color: $teal;
    height: 100vh;
    width: 40vw;
  }

  #stats-n-stuff,
  #game-board {
    float: right;
  }
}
