$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
}

button {
  border-color: purple;
  border-radius: 10px;
  color: purple;
  display: block;
  font-size: 16px;
  margin: 10px auto;
}

footer {
  background-color: black;
  color: white;
}

input {
  display: block;
  margin: 5px auto;
}

nav {
  background-color: black;
  color: white;
  margin: 0;
}

nav > h1 {
  margin: 0;
}

p.auth-option {
  margin-bottom: 0;
}

p.auth-alert {
  background-color: pink;
  border-bottom: thin white solid;
  border-top: thin white solid;
  color: purple;
  font-weight: bold;
  margin-bottom: 0;
}

.auth-option {
  background-color: black;
  color: white;
  border-top: thin white solid;
  padding: 5px 0;
}

.container-fluid {
  padding: 0;
}

.game-cell {
  background-color: pink;
  border: thin black solid;
  color: black;
  font-size: 50px;
  height: 25vw;
  line-height: 25vw;
  text-align: center;
  vertical-align: middle;
  width: 25vw;
}

.hidden {
  display: none;
}

.navbar {
  margin-bottom: 0;
}

.player {
  border: thin solid purple;
  border-radius: 20px;
  color: purple;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin: 10px;
  padding: 5px 15px;
  text-align: center;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.player.active {
  background-color: pink;
  border: solid purple;
  font-weight: bold;
}

#authentication {
  background-color: gray;
}

#game-board {
  margin: 15px auto;
  width: 75vw;
}

#message {
  border-radius: 5px;
  color: purple;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

#player-turns > div {
  text-align: center;
}

#rematch-button {
  background-color: pink;
  border: thick solid purple;
  font-weight: bold;
}
